<h1 class="mt-4">Dashboard</h1>
<form action="/users/logout?_method=DELETE" method="POST" style="padding-bottom: 15px">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<a href="/users/register" class="btn btn-secondary">Register new Doctor</a>
<a href="/board" class="btn btn-secondary">Bullet Board</a>
<a href="/patients/view" class="btn btn-secondary">Patients</a>
<a href="/Diseases/create" class="btn btn-secondary">Add a disease to a patient</a>
<a href="/Prescriptions/create" class="btn btn-secondary">Create a new prescription</a>
</br></br></br>
<a href="/Board/new" class="btn btn-primary">Create a new post</a>
<div class="row mt-5">
    <div class="card card-body">
        <h2>Message board</h2>
        </br>
        </br>
        <% for(const notice of Messages) {%>
            <div class="NoticeMessage">
                <p>Posted by:</p>
                <p><%= notice.fromDoctor %></p>
                <p>Notice:</p>
                <p><%= notice.Message %></p>
            </div>
    </br>
    </br>
        <% } %>
    </div>
</div>