<h1 class="mt-4">Dashboard</h1>
<form action="/users/logout?_method=DELETE" method="POST" style="padding-bottom: 15px">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<a href="/users/register" class="btn btn-secondary">Register new Doctor</a>
<a href="/board" class="btn btn-secondary">Bullet Board</a>
<a href="/patients/view" class="btn btn-secondary">Patients</a>
<a href="/Diseases/create" class="btn btn-secondary">Add a disease to a patient</a>
<a href="/Prescriptions/create" class="btn btn-secondary">Create a new prescription</a>
</br></br></br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Use the form below to register a new patient.
            </h1>
            <p>Note: The patient will by default be registered as a patient of current doctor. This can be changed from the patient menu.</p>
            <form action="/patients/register" method="POST">
                <div class="form-group">
                    <label for="pName">Full Name</label>
                    <input
                            type="text"
                            id="pName"
                            name="pName"
                            class="form-control"
                            placeholder="Enter full patient name"
                    />
                </div>
                <div class="form-group">
                    <label for="doctorSelection">Doctor:</label>
                    <input
                            type="text"
                            id="doctorName"
                            name="doctorName"
                            class="form-control"
                            placeholder="Enter full name of doctor..."
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p>Please note that if the entered doctorname doesn't exist, the patient will still be stored, but won't be attached to a doctor.</p>
        </div>
    </div>
</div>