<h1 class="mt-4">Dashboard</h1>
<form action="/users/logout?_method=DELETE" method="POST" style="padding-bottom: 15px">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<a href="/users/register" class="btn btn-secondary">Register new Doctor</a>
<a href="/board" class="btn btn-secondary">Bullet Board</a>
<a href="/patients/view" class="btn btn-secondary">Patients</a>
<a href="/Diseases/create" class="btn btn-secondary">Add a disease to a patient</a>
<a href="/Prescriptions/create" class="btn btn-secondary">Create a new prescription</a>
</br></br></br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h5 class="text-center mb-3">
                Use the form below to create a new prescription. Prescriptions must be created manually for each patient, and cannot be added before a patient has been created via the patient-creation portal, found under the patient-list above.
            </h5>
                </br>
            <form action="/Prescriptions/create" method="POST">
                <div class="form-group">
                    <label for="pName">Patient:</label>
                    <input
                            type="text"
                            id="pName"
                            name="pName"
                            class="form-control"
                            placeholder="Enter the name of the patient!"
                    />
                </div>
                <div class="form-group">
                    <label for="mName">Medication:</label>
                    <input
                            type="text"
                            id="mName"
                            name="mName"
                            class="form-control"
                            placeholder="Medication"
                    />
                </div>
                <div class="form-group">
                    <label for="durationTime">Duration:</label>
                    <input
                            type="text"
                            id="durationTime"
                            name="durationTime"
                            class="form-control"
                            placeholder="Duration"
                    />
                </div>
                <div class="form-group">
                    <label for="diseaseType">Disease:</label>
                    <input
                            type="text"
                            id="diseaseType"
                            name="diseaseType"
                            class="form-control"
                            placeholder="For Disease"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>
