<h1 class="mt-4">Dashboard</h1>
<form action="/users/logout?_method=DELETE" method="POST" style="padding-bottom: 15px">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<a href="/users/register" class="btn btn-secondary">Register new Doctor</a>
<a href="/board" class="btn btn-secondary">Bullet Board</a>
<a href="/patients/view" class="btn btn-secondary">Patients</a>
<a href="/Diseases/create" class="btn btn-secondary">Add a disease to a patient</a>
<a href="/Prescriptions/create" class="btn btn-secondary">Create a new prescription</a>
</br></br></br>
<p>Welcome to the administration site! Please use the menu above to navigate.</p>
